// MAIN
$primaryblue: #009ade;
$primarywhite: #ffffff;

// SECONDARY
$secondaryblue: #0b4f6c;
$secondarywhite: #eaebed;

// COMPLEMENTARY
$black: #000;
$grey: #626262;
$disabled: #e5e4e4;

// STATUS COLORS
$green: #23c08d;
$warning: #ffb547;
$error: #d40b0b;
$error2: #a10909;
$info: #8c64cf;

$grayMenu: #4b5563;
