<p-toast [life]="10000"></p-toast>
<h1>
  @if(id === 0) { {{ "general.alta" | translate }} } @else {
  {{ "general.modificacion" | translate }} }
</h1>
<div class="d-flex justify-content-center align-items-center mt-4 w-75 ms-5">
  <form
    [formGroup]="formulario"
    (ngSubmit)="formulario.valid && save()"
    class="w-100"
  >
    <div class="row w-100">
      <div class="col-9">
        <div class="mt-3 w-100">
          <label class="fw-bold label-bloque">{{
            "general.nombre" | translate
          }}</label>
          <input class="w-100" type="text" pInputText formControlName="name" />
          <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <div
              *ngFor="
                let error of formulario.controls['name'].errors | keyvalue
              "
            >
              <small class="p-error block fw-bold">
                {{
                  error.key
                    | mensajeErrorCampo : formulario.controls["name"]
                    | translate
                }}
              </small>
            </div>
          </div>
        </div>

        <div class="mt-3 w-100">
          <label class="fw-bold label-bloque">{{
            "general.email" | translate
          }}</label>
          <span class="p-input-icon-left w-100">
            <i class="pi pi-at"></i>
            <input
              class="w-100"
              type="email"
              pInputText
              formControlName="email"
              [readOnly]="id !== 0"
            />
          </span>
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div
              *ngFor="
                let error of formulario.controls['email'].errors | keyvalue
              "
            >
              <small class="p-error block fw-bold">
                {{
                  error.key
                    | mensajeErrorCampo : formulario.controls["email"]
                    | translate
                }}
              </small>
            </div>
          </div>
        </div>

        <div class="mt-3 w-100">
          <label class="fw-bold label-bloque">{{
            "general.password" | translate
          }}</label>

          <input
            class="w-100"
            type="password"
            pInputText
            formControlName="password"
          />

          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div
              *ngFor="
                let error of formulario.controls['password'].errors | keyvalue
              "
            >
              <small class="p-error block fw-bold">
                {{
                  error.key
                    | mensajeErrorCampo : formulario.controls["password"]
                    | translate
                }}
              </small>
            </div>
          </div>
        </div>

        <div class="mt-3 w-100">
          <label class="fw-bold label-bloque">{{
            "general.repPassword" | translate
          }}</label>

          <input
            class="w-100"
            type="password"
            pInputText
            formControlName="password_confirmation"
          />

          <div
            *ngIf="
              password_confirmation.invalid &&
              (password_confirmation.dirty || password_confirmation.touched)
            "
          >
            <div
              *ngFor="
                let error of formulario.controls['password_confirmation'].errors
                  | keyvalue
              "
            >
              <small class="p-error block fw-bold">
                {{
                  error.key
                    | mensajeErrorCampo
                      : formulario.controls["password_confirmation"]
                    | translate
                }}
              </small>
            </div>
          </div>
        </div>

        <div class="row w-100">
          <div class="col-4">
            <div class="mt-3 w-100">
              <label class="fw-bold label-bloque">{{
                "general.organizaciones" | translate
              }}</label>

              <p-dropdown
                formControlName="organizacion_id"
                [options]="organizaciones"
                optionLabel="name"
                placeholder="Select..."
                [disabled]="organizacionesAux !== 0"
              ></p-dropdown>

              <div
                *ngIf="
                  organizacion_id.invalid &&
                  (organizacion_id.dirty || organizacion_id.touched)
                "
              >
                <div
                  *ngFor="
                    let error of formulario.controls['organizacion_id'].errors
                      | keyvalue
                  "
                >
                  <small class="p-error block fw-bold">
                    {{
                      error.key
                        | mensajeErrorCampo
                          : formulario.controls["organizacion_id"]
                        | translate
                    }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="col-4">
            <div class="mt-3 w-100">
              <label class="fw-bold label-bloque">{{
                "general.roles" | translate
              }}</label>

              <p-dropdown
                formControlName="roles_id"
                [options]="roles"
                optionLabel="name"
                placeholder="Select..."
              ></p-dropdown>

              <div
                *ngIf="roles_id.invalid && (roles_id.dirty || roles_id.touched)"
              >
                <div
                  *ngFor="
                    let error of formulario.controls['roles_id'].errors
                      | keyvalue
                  "
                >
                  <small class="p-error block fw-bold">
                    {{
                      error.key
                        | mensajeErrorCampo : formulario.controls["roles_id"]
                        | translate
                    }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-3">
          <label for="ac">{{ "general.activo" | translate }}</label>
          <p-checkbox
            formControlName="activate"
            [binary]="true"
            inputId="binary"
          ></p-checkbox>
        </div>

        <mat-dialog-actions>
          <div class="col-4">
            <p-button
              class="mt-3"
              type="submit"
              [disabled]="!formulario.valid"
              icon="pi pi-save"
              label="{{ 'general.guardar' | translate }}"
            >
            </p-button>
          </div>
          <div class="col-4"></div>
          <div class="col-4">
            <p-button
              class="mt-3"
              styleClass="p-button-danger"
              icon="pi pi-times"
              label="{{ 'general.cancelar' | translate }}"
              (onClick)="onNoClick()"
            >
            </p-button>
          </div>
        </mat-dialog-actions>
      </div>
    </div>
  </form>
</div>
