<h1>{{ titulo | translate }}</h1>
<p-table
  [value]="valores"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 50, 100]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowHover]="true"
  dataKey="name"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="min-width: 15rem" *ngFor="let item of campos">
        <div class="flex justify-content-between align-items-center">
          {{ item.nombreColumna | translate }}
          <p-columnFilter
            type="text"
            field="{{ item.campo }}"
            display="menu"
            class="ml-auto"
            *ngIf="item.filtro === true"
          ></p-columnFilter>
        </div>
      </th>
      <th style="min-width: 15rem">
        <button
          pButton
          pRipple
          icon="pi pi-plus-circle"
          class="p-button-rounded mr-2"
          (click)="crear()"
          pTooltip="{{ 'general.nuevo' | translate }}"
        ></button>
        <label for="activos" *ngIf="activados">{{
          "general.activos" | translate
        }}</label>
        <p-inputSwitch
          *ngIf="activados"
          [(ngModel)]="checked"
          (onChange)="onSwitchChange()"
        ></p-inputSwitch>
        <label for="todos" *ngIf="activados">{{
          "general.todos" | translate
        }}</label>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-valor let-expanded="expanded">
    <tr>
      <td *ngFor="let item of campos">
        <div *ngIf="item.type === 'value'">
          {{ valor[item.campo] }}
        </div>
        <div *ngIf="item.date">
          {{ valor[item.campo] | date : "dd/MM/yyyy" }}
        </div>

        <div *ngIf="item.type === 'object'">
          <div *ngFor="let auxValue of valor[item.campo]">
            {{ auxValue[item.campoObject] }}
          </div>
        </div>
      </td>
      <td>
        <button
          *ngIf="btnEditar"
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          [disabled]="valor.activate == false || valor.activate == 0"
          (click)="editar(valor)"
          pTooltip="{{ 'general.editar' | translate }}"
        ></button>

        <button
          *ngIf="btnBorrar == true"
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          [disabled]="valor.activate == false || valor.activate == 0"
          (click)="borrar(valor)"
          pTooltip="{{ 'general.desactivar' | translate }}"
        ></button>

        <button
          *ngIf="valor.activate == false || valor.activate == 0"
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-help"
          (click)="activar(valor)"
          pTooltip="{{ 'general.activar' | translate }}"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
